<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.ColumnMapper">

    <sql id="dateTime">
        <if test="${startTime}!=null}">
            and ${dbTime}>=${startTime}
        </if>
        <if test="${endTime}!=null">
            and ${endTime}>=${dbTime}
        </if>
    </sql>

    <sql id="date">
        <if test="${startTime}!=null}">
            and unix_timestamp(${dbTime})>=unix_timestamp(${startTime})
        </if>
        <if test="${endTime}!=null">
            and unix_timestamp(date_add(${endTime},interval 1 day))>=unix_timestamp(${dbTime})
        </if>
    </sql>
</mapper>
