<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.dao.FinishMapper">
    <resultMap id="BaseResultMap" type="com.icboluo.object.dataobject.FinishDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="problem" jdbcType="VARCHAR" property="problem"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="belong_to_scope" jdbcType="VARCHAR" property="belongToScope"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_first_create" jdbcType="TIMESTAMP" property="gmtFirstCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, problem, `result`, belong_to_scope, gmt_create,gmt_first_create, gmt_modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finish
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultType="com.icboluo.object.dataobject.FinishDO">
        select
        <include refid="Base_Column_List"/>
        from
        finish
        where
        problem like concat ('%',#{file},'%')
        or result like concat ('%',#{file},'%')
        or belong_to_scope like concat ('%',#{file},'%')
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from finish
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.icboluo.object.dataobject.FinishDO"
            useGeneratedKeys="true">
        insert into finish (problem, `result`, belong_to_scope,
                            gmt_create, gmt_first_create, gmt_modified)
        values (#{problem,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{belongToScope,jdbcType=VARCHAR},
                #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtFirstCreate,jdbcType=TIMESTAMP},
                #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.icboluo.object.dataobject.FinishDO"
            useGeneratedKeys="true">
        insert into finish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="problem != null">
                problem,
            </if>
            <if test="result != null">
                `result`,
            </if>
            <if test="belongToScope != null">
                belong_to_scope,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtFirstCreate != null">
                gmt_first_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="problem != null">
                #{problem,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                #{result,jdbcType=VARCHAR},
            </if>
            <if test="belongToScope != null">
                #{belongToScope,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtFirstCreate != null">
                #{gmtFirstCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.icboluo.object.dataobject.FinishDO">
        update finish
        <set>
            <if test="problem != null">
                problem = #{problem,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                `result` = #{result,jdbcType=VARCHAR},
            </if>
            <if test="belongToScope != null">
                belong_to_scope = #{belongToScope,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtFirstCreate != null">
                gmt_first_create = #{gmtFirstCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.icboluo.object.dataobject.FinishDO">
        update finish
        set problem          = #{problem,jdbcType=VARCHAR},
            `result`         = #{result,jdbcType=VARCHAR},
            belong_to_scope  = #{belongToScope,jdbcType=VARCHAR},
            gmt_create       = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_first_create = #{gmtFirstCreate,jdbcType=TIMESTAMP},
            gmt_modified     = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
