#声明这个配置文件是一个根配置文件，会从该配置文件所在的目录开始扫描，放到src/main/java根目录
config.stopBubbling=true
#该注解在实现 ToString EqualsAndHashCode 方法时，会考虑父类的属性
lombok.equalsAndHashCode.callSuper=call
lombok.toString.callSuper=CALL
# 这个配置的key必须小驼峰式，相对而言，存放位置反而不重要；val大小写不敏感


#lombok是编译期生效的注解
#
#引入log日志2个步骤： 1、在pom.xml中，引入slf4j的依赖 2、添加配置文件log4j.properties .bak使配置文件无效
#
#lombok的builder注解使用的时候，会使用构造方法，不能生成无参构造，需要额外增加注解

#经过测试，发现lombok nonnull注解放在接口上是没有作用的
#一定要注意：lombok文件中必须小驼峰式，是所有的单词，包括callSuper，代码提示是错误的，不生效；位置倒显得没那么重要；value大小写均可
