<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper标签:配置各类声明，namespace防止crud语句的唯一标识被重复，需要设置空间名称-->
<mapper namespace="com.icboluo.mapper.ProvinceMapper">
    <!--配置之定义结果集:解决名字不一样; true:如果sql和pojo中字段名称相同，不用配置-->
    <resultMap id="BaseResultMap" type="com.icboluo.entity.Province" autoMapping="true">
        <result property="proId" column="pro_id" jdbcType="INTEGER"/>
        <result property="proCode" column="pro_code" jdbcType="VARCHAR"/>
        <result property="proName" column="pro_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        pro_id, pro_code, pro_name
    </sql>

    <select id="queryByAllField" resultMap="BaseResultMap">
        select
        pro_id, pro_code, pro_name
        from province
        <where>
            <if test="proId != null">
                and pro_id = #{proId}
            </if>
            <if test="proCode != null and proCode != ''">
                and pro_code = #{proCode}
            </if>
            <if test="proName != null and proName != ''">
                and pro_name = #{proName}
            </if>
        </where>
    </select>

    <insert id="insertBatch" keyProperty="proId" useGeneratedKeys="true">
        insert into province(pro_code, pro_name)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.proCode}, #{entity.proName})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="proId" useGeneratedKeys="true">
        insert into province(pro_code, pro_name)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.proCode}, #{entity.proName})
        </foreach>
        on duplicate key update
        pro_code = values(pro_code),
        pro_name = values(pro_name)
    </insert>


    <!--useGeneratedKeys主键回显，keyColumn主键在sql中的名称，keyProperty主键在pojo中的名称-->
    <insert id="insertProvince" useGeneratedKeys="true" keyColumn="pro_id" keyProperty="proId">
        insert into province (pro_code,
                              pro_name)
        values (#{proCode},
                #{proName});
    </insert>

    <update id="updateProvince">
        update province
        set pro_code=#{proCode},
            pro_name=#{proName}
        where pro_id = #{proId}
    </update>

    <!--#{}相当于？，防止注入，${}-->
    <!--     这里可以省略前缀-->
    <select id="selectProvince" resultType="com.icboluo.entity.Province">
        <!-- <include refid="CommonSqlMapper.selectAllField"/>-->
        from province
        where
        <if test="proCode!=null and proCode.trim() != ''">
            pro_code=#{proCode},
            pro_code like '%' #{proCode} '%'
        </if>
        <!--        sql可以用<if>  -->
        <choose>
            <when test="proCode != null">
                and pro_code=#{proCode}
            </when>
            <!--            所有不满足条件才执行执行-->
            <otherwise>
                and pro_code ='123456';
            </otherwise>
        </choose>
    </select>

    <!--    全局缩短名字后可直接用Province，也可以引用自定义的resultmap-->
    <select id="queryByTableName" resultType="com.icboluo.entity.Province">
        SELECT *
        FROM ${tableName}
    </select>
</mapper>

