<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.FundDataMapper">

    <resultMap id="FundDataMap" type="com.icboluo.entity.FundData">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fundId" column="fund_id" jdbcType="VARCHAR"/>
        <result property="increaseRateDay" column="increase_rate_day" jdbcType="VARCHAR"/>
        <result property="subscribeStatus" column="subscribe_status" jdbcType="VARCHAR"/>
        <result property="netValueDate" column="net_value_date" jdbcType="TIMESTAMP"/>
        <result property="netAssetValue" column="net_asset_value" jdbcType="VARCHAR"/>
        <result property="netValueCumulative" column="net_value_cumulative" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, fund_id, increase_rate_day, subscribe_status, net_value_date, net_asset_value, net_value_cumulative, create_time, update_time
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAllByData" resultMap="FundDataMap">
        select
        <include refid="Base_Column_List"/>
        from fund_data
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="fundId != null and fundId != ''">
                and fund_id = #{fundId}
            </if>
            <if test="increaseRateDay != null">
                and increase_rate_day = #{increaseRateDay}
            </if>
            <if test="subscribeStatus != null and subscribeStatus != ''">
                and subscribe_status = #{subscribeStatus}
            </if>
            <if test="netValueDate != null">
                and net_value_date = #{netValueDate}
            </if>
            <if test="netAssetValue != null">
                and net_asset_value = #{netAssetValue}
            </if>
            <if test="netValueCumulative != null">
                and net_value_cumulative = #{netValueCumulative}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="selectByFundId" resultType="com.icboluo.entity.FundData">
        select *
        from fund_data
        where fund_id = #{fundId}
    </select>
    <select id="selectByQuery" resultType="com.icboluo.object.vo.FundDataVO">
        select fd.*
        from fund_data fd
        <where>
            <if test="fundId != null and fundId != ''">
                and fd.fund_id = #{fundId}
            </if>
            <if test="startDate != null">
                and fd.net_value_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and fd.net_value_date <![CDATA[ <=]]> #{endDate}
            </if>
        </where>
        order by fd.net_value_date desc
    </select>
    <select id="selectChooseDate" resultType="com.icboluo.object.vo.FundDataVO">
        select *
        from fund_data
        where fund_id = #{fundId}
          and net_value_date >= #{chooseDate}
        order by net_value_date
        limit #{chooseDateLength}
    </select>
    <select id="selectChooseAll" resultType="com.icboluo.object.vo.FundDataVO">
        select *
        from fund_data
        where fund_id = #{fundId}
        order by net_value_date
    </select>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into note.fund_data(fund_id, increase_rate_day, subscribe_status, net_value_date, net_asset_value,
        net_value_cumulative, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fundId}, #{entity.increaseRateDay}, #{entity.subscribeStatus}, #{entity.netValueDate},
            #{entity.netAssetValue}, #{entity.netValueCumulative}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into note.fund_data(fund_id, increase_rate_day, subscribe_status, net_value_date, net_asset_value,
        net_value_cumulative, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fundId}, #{entity.increaseRateDay}, #{entity.subscribeStatus}, #{entity.netValueDate},
            #{entity.netAssetValue}, #{entity.netValueCumulative}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        fund_id = values(fund_id) , increase_rate_day = values(increase_rate_day) , subscribe_status =
        values(subscribe_status) , net_value_date = values(net_value_date) , net_asset_value = values(net_asset_value) ,
        net_value_cumulative = values(net_value_cumulative) , create_time = values(create_time) , update_time =
        values(update_time)
    </insert>

    <delete id="deleteByFundId">
        delete
        from fund_data
        where fund_id = #{fundId}
    </delete>
    <delete id="deleteByFundIdDate">
        delete
        from fund_data
        where fund_id = #{fundId}
          and net_value_date = #{date}
    </delete>
</mapper>

