<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.FundAsyncRecordMapper">

    <resultMap id="FundAsyncRecordMap" type="com.icboluo.entity.FundAsyncRecord">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, start_time, end_time
    </sql>
    <!--通过实体作为筛选条件查询-->
    <select id="queryAllByData" resultMap="FundAsyncRecordMap">
        select
        <include refid="Base_Column_List"/>
        from fund_async_record
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into fund_async_record(id, start_time, end_time)
        values (#{id}, #{startTime}, #{endTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into fund_async_record(id, start_time, end_time)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.id}, #{entity.startTime}, #{entity.endTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into fund_async_record(id, start_time, end_time)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.id}, #{entity.startTime}, #{entity.endTime})
        </foreach>
        on duplicate key update
        id = values(id) , start_time = values(start_time) , end_time = values(end_time)
    </insert>

</mapper>

