<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.FundAttentionMapper">

    <resultMap id="FundAttentionMap" type="com.icboluo.entity.FundAttention">
        <result property="id" column="id" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
    </sql>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAllByData" resultMap="FundAttentionMap">
        select
        <include refid="Base_Column_List"/>
        from fund_attention
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
        </where>
    </select>
    <select id="selectByFundIdDim" resultType="com.icboluo.entity.FundAttention">
        select
        <include refid="Base_Column_List"/>
        from fund_attention
        <where>
            <if test="fundId != null and fundId != ''">
                and id = #{fundId}
            </if>
        </where>
    </select>
    <select id="selectByQuery" resultType="com.icboluo.object.vo.FundAttentionVO">
        select fa.id, fi.name
        from fund_attention fa
                 left join fund_info fi on fa.id = fi.id
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into fund_attention()
        values ()
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into fund_attention()
        values
        <foreach collection="list" item="entity" separator=",">
            ()
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into fund_attention()
        values
        <foreach collection="list" item="entity" separator=",">
            ()
        </foreach>
        on duplicate key update
    </insert>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from fund_attention
        where id = #{id}
    </delete>

</mapper>

