<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.DiePlayerMapper">

    <resultMap type="com.icboluo.entity.DiePlayer" id="DiePlayerMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="attack" column="attack" jdbcType="INTEGER"/>
        <result property="blood" column="blood" jdbcType="INTEGER"/>
        <result property="maxBlood" column="max_blood" jdbcType="INTEGER"/>
        <result property="experience" column="experience" jdbcType="INTEGER"/>
        <result property="totalExperience" column="total_experience" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="DiePlayerMap">
        select
          id, age, attack, blood, max_blood, experience, total_experience, level
        from die_player
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="attack != null">
                and attack = #{attack}
            </if>
            <if test="blood != null">
                and blood = #{blood}
            </if>
            <if test="maxBlood != null">
                and max_blood = #{maxBlood}
            </if>
            <if test="experience != null">
                and experience = #{experience}
            </if>
            <if test="totalExperience != null">
                and total_experience = #{totalExperience}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into die_player(age, attack, blood, max_blood, experience, total_experience, level)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.age}, #{entity.attack}, #{entity.blood}, #{entity.maxBlood}, #{entity.experience}, #{entity.totalExperience}, #{entity.level})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into die_player(age, attack, blood, max_blood, experience, total_experience, level)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.age}, #{entity.attack}, #{entity.blood}, #{entity.maxBlood}, #{entity.experience}, #{entity.totalExperience}, #{entity.level})
        </foreach>
        on duplicate key update
        age = values(age),
        attack = values(attack),
        blood = values(blood),
        max_blood = values(max_blood),
        experience = values(experience),
        total_experience = values(total_experience),
        level = values(level)
    </insert>
</mapper>

