<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.MonsterMapper">

    <resultMap type="com.icboluo.entity.Monster" id="MonsterMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="blood" column="blood" jdbcType="INTEGER"/>
        <result property="attack" column="attack" jdbcType="INTEGER"/>
        <result property="maxBlood" column="max_blood" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MonsterMap">
        select
          id, blood, attack, max_blood, name
        from monster
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="blood != null">
                and blood = #{blood}
            </if>
            <if test="attack != null">
                and attack = #{attack}
            </if>
            <if test="maxBlood != null">
                and max_blood = #{maxBlood}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into monster(blood, attack, max_blood, name)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.blood}, #{entity.attack}, #{entity.maxBlood}, #{entity.name})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into monster(blood, attack, max_blood, name)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.blood}, #{entity.attack}, #{entity.maxBlood}, #{entity.name})
        </foreach>
        on duplicate key update
        blood = values(blood),
        attack = values(attack),
        max_blood = values(max_blood),
        name = values(name)
    </insert>
</mapper>

