<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.PlayerLevelMapper">

    <resultMap type="com.icboluo.entity.PlayerLevel" id="PlayerLevelMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="experience" column="experience" jdbcType="INTEGER"/>
        <result property="increaseAttack" column="increase_attack" jdbcType="INTEGER"/>
        <result property="increaseBlood" column="increase_blood" jdbcType="INTEGER"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into player_level(level, experience, increase_attack, increase_blood, age)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.level}, #{entity.experience}, #{entity.increaseAttack}, #{entity.increaseBlood}, #{entity.age})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into player_level(level, experience, increase_attack, increase_blood, age)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.level}, #{entity.experience}, #{entity.increaseAttack}, #{entity.increaseBlood}, #{entity.age})
        </foreach>
        on duplicate key update
        level = values(level),
        experience = values(experience),
        increase_attack = values(increase_attack),
        increase_blood = values(increase_blood),
        age = values(age)
    </insert>
</mapper>

