<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icboluo.mapper.PlayerLevelMapper">

    <resultMap type="com.icboluo.entity.PlayerLevel" id="PlayerLevelMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PlayerLevelMap">
        select
          id, level
        from player_level
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into player_level(level)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.level})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into player_level(level)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.level})
        </foreach>
        on duplicate key update
        level = values(level)
    </insert>
</mapper>

